/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [DATAAREAID]
      ,[CREATEDDATE]
      ,[TEC_ORDERMONTH]
      ,[PURCHID]
      ,[PURCHNAME]
      ,[ItemBuyerGroupId]
      ,[SUP_INTERCOMPANYPURCHITEMID]
      ,[ExternalCode]
      ,[ITEMID]
      ,[FGCode]
      ,[ItemName]
      ,[NAMEALIAS]
      ,[SiteName]
      ,[INVENTCOLORID]
      ,[ColorNameCN]
      ,[ColorNameEN]
      ,[SUP_REFERENCE]
      ,[PURCHUNIT]
      ,[PurchQty]
      ,[ReceiveTotal]
      ,[InvoiceTotal]
      ,[ReceiveNowIQC]
      ,[ReturnNow]
      ,[NotArrivalQTY]
      ,[REMAINPURCHPHYSICAL]
      ,[RemianPurchQytQM]
      ,[OweQty]
      ,[POWarehouseDifferences]
      ,[DeliveryDate]
      ,[SUP_RequireDelivery]
      ,[Salesid]
      ,[custAccount]
      ,[Remarks]
      ,[purchPlacer]
      ,[firstConfirmDate]
      ,[CONFIRMEDDLV]
      ,[ModifedDate]
      ,[PendingQtyPurch]
      ,[RemainInvoice]
      ,[TEC_LEAVEFACTORYDATE]
      ,[ETDDATE]
      ,[TEC_ARRIVALDATE]
      ,[SUP_DelayReason]
      ,[SUP_QUOTEDPRICE]
  FROM [SL2018].[dbo].[VM_PurchaseOrderStatistic]
  
  where DATAAREAID='001' and PURCHID='C1-201712/01731' and Itemid='TP1084' and INVENTCOLORID=N'黑底海马印刷-RS'
  
  go
  
  select * from dbo.VM_PurchlineInfo A
  
  
  where DATAAREAID='001' and PURCHID='C1-201712/01731' and Itemid='TP1084'